
@model WebTest.Controllers.PayPalController.BookingAndPayPal

@{
    ViewBag.Title = "Booking Detail";
    Layout = "~/Views/Shared/BookTemplate.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        Payment Information
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Payment Date and Time:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.paypalDetail.paypalDateAndTime)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>PayPal Name:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.paypalDetail.paypalName)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>PayPal Payer ID:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.paypalDetail.paypalPayerID)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>PayPal Address:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.paypalDetail.paypalAddress)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Amount Paid:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        US$ @Html.DisplayFor(model => model.paypalDetail.paypalAmount)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>PayPal Transaction ID:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.paypalDetail.paypalTransactionID)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>PayPal Note:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.paypalDetail.paypalNote)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Tour package information
                        <span class="pull-right">Booking Code: @Html.DisplayFor(model => model.bookDetail.bookCode)</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="label label-danger">@Html.DisplayFor(model => model.bookDetail.dateFrom.Day)/@Html.DisplayFor(model => model.bookDetail.dateFrom.Month)/@Html.DisplayFor(model => model.bookDetail.dateFrom.Year)</span>
                            ~
                            <span class="label label-danger">@Html.DisplayFor(model => model.bookDetail.dateUntil.Day)/@Html.DisplayFor(model => model.bookDetail.dateUntil.Month)/@Html.DisplayFor(model => model.bookDetail.dateUntil.Year)</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Payment Method: <b>@Html.DisplayFor(model => model.bookDetail.paymentMethod)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Status: <b>@Html.DisplayFor(model => model.bookDetail.status)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Destination: <b>@Html.DisplayFor(model => model.bookDetail.destination)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Name:
                            <ul>
                                @foreach (var item in Model.bookDetail.passengerList)
                                {
                                    <li><b>@Html.DisplayFor(model => item)</b></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Flights:
                            @if (Html.DisplayFor(model => model.bookDetail.flight).ToString() == "True")
                            {
                                <b>Included</b>
                            }
                            else
                            {
                                <b>Not Included</b>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Inn:
                            @if (Html.DisplayFor(model => model.bookDetail.inn).ToString() == "True")
                            {
                                <b>Included</b>
                            }
                            else
                            {
                                <b>Not Included</b>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Custom:
                            @if (Html.DisplayFor(model => model.bookDetail.custom).ToString() == "True")
                            {
                                <b>Customizable</b>
                            }
                            else
                            {
                                <b>Non-Customizable</b>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            Day 1:
                            <br />
                            Day 2:
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            Total price: US$ <b>@Html.DisplayFor(model => model.bookDetail.totalPrice)</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



