@model WebTest.tour_info
    
@{
    ViewBag.Title = "Find Travel";
    Layout = "~/Views/Shared/TourTemplate.cshtml";
}


<div id="dynamic" class="container-fluid">
    <form method="post" role="form" id="checkoutForm" action="@Url.Action("Payment","Booking")">
        @Html.AntiForgeryToken()
        <input type="hidden" id="tourID" name="tourID" value="@Html.DisplayFor(model => model.id)" />
        <div class="container-fluid">
            <h1 class="text-center">Payment</h1>
            <hr />
            <div class="col-md-6">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Choose Payment Method
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="payopt" data-target="#transferTab" checked value="Transfer" />Bank Transfer
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="radio-inline">
                                                    <input type="radio" name="payopt" data-target="#paypalTab" value="PayPal" />Paypal
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" alt="PayPal Logo">
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="radio-inline">
                                                    <input type="radio" name="payopt" data-target="#creditCardTab" value="CreditCard" />Credit Card
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_mastercard_logo_5.gif" width="139" height="43" />
                                            </div>
                                        </div>
                                    </div>
                                        -->
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="tab-content">
                                <div id="transferTab" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>BCA</p>
                                            <img src="http://placehold.it/100x75" />
                                            <p>Account Number: <b>xxxxxx</b></p>
                                            <p>On behalf of: <b>PT. xxxxxxxx</b></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>BNI</p>
                                            <img src="http://placehold.it/100x75" />
                                            <p>Account Number: <b>xxxxxx</b></p>
                                            <p>On behalf of: <b>PT. xxxxxxxx</b></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>Mandiri</p>
                                            <img src="http://placehold.it/100x75" />
                                            <p>Account Number: <b>xxxxxx</b></p>
                                            <p>On behalf of: <b>PT. xxxxxxxx</b></p>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-success">Continue to confirmation page >></button>
                                        </div>
                                    </div>-->
                                </div>
                                <div id="paypalTab" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            You will be redirected to PayPal to confirm your payment later
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-success">Checkout >></button>
                                        </div>
                                    </div>-->
                                </div>
                                <!--
                                <div id="creditCardTab" class="tab-pane">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="nameCreditCard">Owner Name</label>
                                                <input type="text" class="form-control" id="nameCreditCard" placeholder="Your name in Credit Card" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="numberCreditCard">Credit Card Number</label>
                                                <input type="number" id="numberCreditCard" class="form-control" placeholder="Credit Card number" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="expiryCreditCard">Valid Until</label>
                                                <input type="month" id="expiryCreditCard" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="CVVCreditCard">CVV/CVV2 Number</label>
                                                <input type="number" min="000" max="999" id="CVVCreditCard" class="form-control" placeholder="CVV/CVV2 Number" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="countryCreditCard">Country issued</label>
                                                <input type="text" id="countryCreditCard" class="form-control" placeholder="Country which issued the Credit Card" />
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="submit" class="btn btn-success" value="Confirm payment >>" />
                                        </div>
                                    </div>
                                -->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <div class="row">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Tour Information
                                @if (Model.custom == "True")
                                {
                                    <span class="pull-right" style="font-size:10px">Customizable</span>
                                }
                                else
                                {
                                    <span class="pull-right" style="font-size:10px">Non-Customizable</span>
                                }
                            </div>
                        </div>
                        <div class="panel-body">
                            <p><b>Destination: @Html.DisplayFor(model => model.destination)</b></p>
                            <input type="hidden" name="destination" value="@Html.DisplayFor(model => model.destination)"/>
                            <p>
                                <span class="label label-danger">@Html.DisplayFor(model => model.dateFrom.Day)/@Html.DisplayFor(model => model.dateFrom.Month)/@Html.DisplayFor(model => model.dateFrom.Year)</span>
                                ~
                                <span class="label label-danger">@Html.DisplayFor(model => model.dateUntil.Day)/@Html.DisplayFor(model => model.dateUntil.Month)/@Html.DisplayFor(model => model.dateUntil.Year)</span>
                            </p>
                            <p>
                                @if (Model.inn == "True")
                                {
                                    <span class="badge" title="Include Inn"><span class="glyphicon glyphicon-home"></span></span>
                                }

                                @if (Model.flight == "True")
                                {
                                    <span class="badge" title="Include Flight"><span class="glyphicon glyphicon-plane"></span></span>
                                }
                            </p>
                            <hr />
                            <p>Day 1: </p>
                            <p>Day 2: </p>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <p>People: <span id="peopleCount"><b>1</b></span></p>
                                    <input type="hidden" name="packageQuantity" value="1" />
                                </div>
                                <div class="col-md-2" style="margin-top:0.5%">
                                    <a href="javascript:void(0)"><span title="Add more people" class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <input type="text" style="width: 100%" class="form-control passenger" id="passengerName" name="passenger" placeholder="Passenger Name" value="" required/>
                                </div>
                                <div class="col-md-5">
                                    <span style="font-size:0.6em"><b>*The first passenger name will be the one to be used to check booking status</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-8">
                                    Total Price: <b>US$ <span id="totalPrice">@Html.DisplayFor(model => model.price)</span></b> (@@ US$ <span id="pricePerPax">@Html.DisplayFor(model => model.price)</span>)
                                    <input type="hidden" name="price" value="@Html.DisplayFor(model => model.price)" />
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-xs btn-success" id="checkoutCart" value="Continue Checkout >>" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>