@model PagedList.IPagedList<WebTest.tour_info>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Find Tour";
    Layout = "~/Views/Shared/TourTemplate.cshtml";
}

<div id="test" class="container-fluid">
    <input type="hidden" id="session" value="@Session[WebTest.Infrastructure.GlobalVar.SESSION_NAME]">
    <div class="row">
        <div class="col-md-12" id="loginBeforeCheckoutAlert">

        </div>
    </div>
    <div class="col-md-4">
        @{int colOne = 0;
            foreach (var item in Model)
            {
                if (colOne % 3 == 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        @Html.DisplayFor(modelItem => item.destination)
                                        <span class="label label-primary">@Html.DisplayFor(modelItem => item.dateFrom.Day)/@Html.DisplayFor(modelItem => item.dateFrom.Month)/@Html.DisplayFor(modelItem => item.dateFrom.Year)</span>
                                        ~
                                        <span class="label label-primary">@Html.DisplayFor(modelItem => item.dateUntil.Day)/@Html.DisplayFor(modelItem => item.dateUntil.Month)/@Html.DisplayFor(modelItem => item.dateUntil.Year)</span>

                                        @if (item.custom == "True")
                                        {
                                            <span class="pull-right" style="font-size:10px">C</span>
                                        }
                                        else
                                        {
                                            <span class="pull-right" style="font-size:10px">N-C</span>
                                        }
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <b>US$ @Html.DisplayFor(modelItem => item.price)</b>

                                    @if (item.inn == "True")
                                    {
                                        <span class="badge" title="Include Inn"><span class="glyphicon glyphicon-home"></span></span>
                                    }

                                    @if (item.flight == "True")
                                    {
                                        <span class="badge" title="Include Flight"><span class="glyphicon glyphicon-plane"></span></span>
                                    }
                                    <a href="javascript:void(0)" class="pull-right" data-toggle="collapse" data-parent="false">Show More...</a>
                                </div>
                                <div class="panel-collapse collapse">
                                    <div class="panel-footer">
                                        <p>Day 1: </p>
                                        <p>Day 2: </p>
                                        <hr />
                                        <a href="@Url.Action("Checkout", "Tour", new { id = item.id })" class="buttonToCheckout">Checkout <span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                colOne++;
            }
        }
    </div>

    <div class="col-md-4">
        @{int colTwo = 0;
            foreach (var item in Model)
            {
                if (colTwo % 3 == 1)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        @Html.DisplayFor(modelItem => item.destination)
                                        <span class="label label-primary">@Html.DisplayFor(modelItem => item.dateFrom.Day)/@Html.DisplayFor(modelItem => item.dateFrom.Month)/@Html.DisplayFor(modelItem => item.dateFrom.Year)</span>
                                        ~
                                        <span class="label label-primary">@Html.DisplayFor(modelItem => item.dateUntil.Day)/@Html.DisplayFor(modelItem => item.dateUntil.Month)/@Html.DisplayFor(modelItem => item.dateUntil.Year)</span>

                                        @if (item.custom == "True")
                                        {
                                            <span class="pull-right" style="font-size:10px">C</span>
                                        }
                                        else
                                        {
                                            <span class="pull-right" style="font-size:10px">N-C</span>
                                        }
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <b>US$ @Html.DisplayFor(modelItem => item.price)</b>

                                    @if (item.inn == "True")
                                    {
                                        <span class="badge" title="Include Inn"><span class="glyphicon glyphicon-home"></span></span>
                                    }

                                    @if (item.flight == "True")
                                    {
                                        <span class="badge" title="Include Flight"><span class="glyphicon glyphicon-plane"></span></span>
                                    }
                                    <a href="javascript:void(0)" class="pull-right" data-toggle="collapse" data-parent="false">Show More...</a>
                                </div>
                                <div class="panel-collapse collapse">
                                    <div class="panel-footer">
                                        <p>Day 1: </p>
                                        <p>Day 2: </p>
                                        <hr />
                                        <a href="@Url.Action("Checkout", "Tour", new { id = item.id })" class="buttonToCheckout">Checkout <span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                colTwo++;
            }
        }
    </div>

    <div class="col-md-4">
        @{int colThree = 0;
            foreach (var item in Model)
            {
                if (colThree % 3 == 2)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        @Html.DisplayFor(modelItem => item.destination)
                                        <span class="label label-primary">@Html.DisplayFor(modelItem => item.dateFrom.Day)/@Html.DisplayFor(modelItem => item.dateFrom.Month)/@Html.DisplayFor(modelItem => item.dateFrom.Year)</span>
                                        ~
                                        <span class="label label-primary">@Html.DisplayFor(modelItem => item.dateUntil.Day)/@Html.DisplayFor(modelItem => item.dateUntil.Month)/@Html.DisplayFor(modelItem => item.dateUntil.Year)</span>

                                        @if (item.custom == "True")
                                        {
                                            <span class="pull-right" style="font-size:10px">C</span>
                                        }
                                        else
                                        {
                                            <span class="pull-right" style="font-size:10px">N-C</span>
                                        }
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <b>US$ @Html.DisplayFor(modelItem => item.price)</b>

                                    @if (item.inn == "True")
                                    {
                                        <span class="badge" title="Include Inn"><span class="glyphicon glyphicon-home"></span></span>
                                    }

                                    @if (item.flight == "True")
                                    {
                                        <span class="badge" title="Include Flight"><span class="glyphicon glyphicon-plane"></span></span>
                                    }
                                    <a href="javascript:void(0)" class="pull-right" data-toggle="collapse" data-parent="false">Show More...</a>
                                </div>
                                <div class="panel-collapse collapse">
                                    <div class="panel-footer">
                                        <p>Day 1: </p>
                                        <p>Day 2: </p>
                                        <hr />
                                        <a href="@Url.Action("Checkout", "Tour", new { id = item.id })" class="buttonToCheckout">Checkout <span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                colThree++;
            }
        }
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("List", new { destination = ViewBag.filter.destination, dateFrom = ViewBag.filter.dateFrom, dateUntil = ViewBag.filter.dateUntil, flight = ViewBag.filter.flight, inn = ViewBag.filter.inn, custom = ViewBag.filter.custom, page = page }), new PagedListRenderOptions { LinkToNextPageFormat = ">", LinkToPreviousPageFormat = "<", LinkToFirstPageFormat = "<- First Page", LinkToLastPageFormat = "Last Page ->", DisplayLinkToFirstPage = PagedListDisplayMode.Always, DisplayLinkToLastPage = PagedListDisplayMode.Always })
        </div>
    </div>
</div>