
@model WebTest.Controllers.BookingController.BookingAndTransfer

@{
    ViewBag.Title = "Booking Detail";
    Layout = "~/Views/Shared/BookTemplate.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="approveAlert">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        Payment Information
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Date:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.transferDetail.paymentDate.Day)/@Html.DisplayFor(model => model.transferDetail.paymentDate.Month)/@Html.DisplayFor(model => model.transferDetail.paymentDate.Year)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Sender Name:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.transferDetail.senderName)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Amount Transferred:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        US$ @Html.DisplayFor(model => model.transferDetail.amountTransferred)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Payment To:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.transferDetail.bankName)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Payment From:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.transferDetail.accountNumber) - @Html.DisplayFor(model => model.transferDetail.fromBank)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Email:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @Html.DisplayFor(model => model.transferDetail.email)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Receipt:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        @if (Model.transferDetail.receipt != null)
                                        {
                                            <img src="@Html.DisplayFor(model => model.transferDetail.receipt)" id="receipt" style="max-width: 100%" />
                                        }
                                        else
                                        {
                                            <p>No Receipt Uploaded.</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary" id="test">
                <div class="panel-heading">
                    <div class="panel-title">
                        Tour package information
                        <span class="pull-right">Booking Code: @Html.DisplayFor(model => model.bookDetail.bookCode)</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="label label-danger">@Html.DisplayFor(model => model.bookDetail.dateFrom.Day)/@Html.DisplayFor(model => model.bookDetail.dateFrom.Month)/@Html.DisplayFor(model => model.bookDetail.dateFrom.Year)</span>
                            ~
                            <span class="label label-danger">@Html.DisplayFor(model => model.bookDetail.dateUntil.Day)/@Html.DisplayFor(model => model.bookDetail.dateUntil.Month)/@Html.DisplayFor(model => model.bookDetail.dateUntil.Year)</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Payment Method: <b>@Html.DisplayFor(model => model.bookDetail.paymentMethod)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Status: <b>@Html.DisplayFor(model => model.bookDetail.status)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Destination: <b>@Html.DisplayFor(model => model.bookDetail.destination)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Name:
                            <ul>
                                @foreach (var item in Model.bookDetail.passengerList)
                                {
                                    <li><b>@Html.DisplayFor(model => item)</b></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Flights:
                            @if (Html.DisplayFor(model => model.bookDetail.flight).ToString() == "True")
                            {
                                <b>Included</b>
                            }
                            else
                            {
                                <b>Not Included</b>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Inn:
                            @if (Html.DisplayFor(model => model.bookDetail.inn).ToString() == "True")
                            {
                                <b>Included</b>
                            }
                            else
                            {
                                <b>Not Included</b>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Custom:
                            @if (Html.DisplayFor(model => model.bookDetail.custom).ToString() == "True")
                            {
                                <b>Customizable</b>
                            }
                            else
                            {
                                <b>Non-Customizable</b>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            Day 1:
                            <br />
                            Day 2:
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            Total price: US$ <b>@Html.DisplayFor(model => model.bookDetail.totalPrice)</b>
                        </div>
                    </div>
                </div>
            </div>
            @{
                if (Session[WebTest.Infrastructure.GlobalVar.SESSION_ROLE] != null && Model.bookDetail.status == "Waiting")
                {
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" role="form">
                                @Html.AntiForgeryToken()
                                <div class="row approveChoice">
                                    <input type="hidden" class="bookingCode" value="@Model.bookDetail.bookCode" />
                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-success form-control" name="approveButton" value="Approve" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-danger form-control" name="disapproveButton" value="Disapprove" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


