@model WebTest.Controllers.BookingController.BookingDetailPage

@{
    ViewBag.Title = "Booking Detail";
    Layout = "~/Views/Shared/BookTemplate.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Tour package information
                        <span class="pull-right">Booking Code: @Html.DisplayFor(model => model.bookCode)</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="label label-danger">@Html.DisplayFor(model => model.dateFrom.Day)/@Html.DisplayFor(model => model.dateFrom.Month)/@Html.DisplayFor(model => model.dateFrom.Year)</span>
                            ~
                            <span class="label label-danger">@Html.DisplayFor(model => model.dateUntil.Day)/@Html.DisplayFor(model => model.dateUntil.Month)/@Html.DisplayFor(model => model.dateUntil.Year)</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Payment Method: <b>@Html.DisplayFor(model => model.paymentMethod)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Status: <b>@Html.DisplayFor(model => model.status)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Destination: <b>@Html.DisplayFor(model => model.destination)</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Name:
                            <ul>
                                @foreach (var item in Model.passengerList)
                                {
                                    <li><b>@Html.DisplayFor(model => item)</b></li>
                                }
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            Flights: 
                            @if (Html.DisplayFor(model => model.flight).ToString() == "True")
                            {
                                <b>Included</b>
                            }
                            else
                            {
                                <b>Not Included</b>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Inn:
                            @if (Html.DisplayFor(model => model.inn).ToString() == "True")
                            {
                                <b>Included</b>
                            }
                            else
                            {
                                <b>Not Included</b>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Custom:
                            @if (Html.DisplayFor(model => model.custom).ToString() == "True")
                            {
                                <b>Customizable</b>
                            }
                            else
                            {
                                <b>Non-Customizable</b>
                            }
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            Day 1:
                            <br/>
                            Day 2:
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            Total price: US$ <b>@Html.DisplayFor(model => model.totalPrice)</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @if (Model.status == "Unpaid")
                    {
                        <form method="post" role="form" action="@Url.Action("Transfer","Transfer", new {bookingCode = Model.bookCode})">
                            @Html.AntiForgeryToken()
                            <input type="submit" class="btn btn-info form-control" value="Confirm Payment" />
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

