@model WebTest.Controllers.BookingController.MultipleModel

@{
    ViewBag.Title = "Booking Detail";
    Layout = "~/Views/Shared/BookTemplate.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#confirmationTab">Need to be confirmed <span class="badge">@ViewBag.NeedConfirm</span></a></li>
                <li><a href="#waitingTab">Waiting for approval <span class="badge">@ViewBag.WaitApproval</span></a></li>
                <li><a href="#disapprovedTab">Failed Transfer Confirmation <span class="badge">@ViewBag.Disapproved</span></a></li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="tab-content" id="threeTabs">
        <div id="confirmationTab" class="tab-pane fade in active">
            @foreach (var item in Model.booking.Zip(Model.tour.Zip(Model.user, (tour, user) => new { Tour = tour, User = user }), (booking, tour) => new { Booking = booking, TourUser = tour }))
            {
                if (item.Booking.status == "Unpaid")
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Booking Code: @Html.DisplayFor(modelItem => item.Booking.bookCode)
                                        <span class="pull-right">@Html.DisplayFor(modelItem => item.TourUser.Tour.destination)</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Day)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Month)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Year)</span>
                                            ~
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Day)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Month)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Year)</span>
                                        </div>
                                        <div class="col-md-6">
                                            <form action="@Url.Action("DetailWithoutPayment","Booking")" method="post">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.Booking.bookCode)" />
                                                <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form action="@Url.Action("CancelBooking","Booking")" method="post">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" class="bookingCode" name="bookingCode" value="@Html.DisplayFor(modelItem => item.Booking.bookCode)" />
                                                <div class="areYouSure">
                                                    <input type="submit" class="btn btn-warning btn-xs cancel-booking" value="Cancel booking" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div id="waitingTab" class="tab-pane fade">
            @foreach (var item in Model.booking.Zip(Model.tour.Zip(Model.user, (tour, user) => new { Tour = tour, User = user }), (booking, tour) => new { Booking = booking, TourUser = tour }))
            {
                if (item.Booking.status == "Waiting")
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Booking Code: @Html.DisplayFor(modelItem => item.Booking.bookCode)
                                        <span class="pull-right">@Html.DisplayFor(modelItem => item.TourUser.Tour.destination)</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Day)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Month)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Year)</span>
                                            ~
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Day)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Month)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Year)</span>
                                        </div>
                                        <div class="col-md-6">
                                            <form action="@Url.Action("DetailWithPayment","Booking")" method="post">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.Booking.bookCode)" />
                                                <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>

        <div id="disapprovedTab" class="tab-pane fade">
            @foreach (var item in Model.booking.Zip(Model.tour.Zip(Model.user, (tour, user) => new { Tour = tour, User = user }), (booking, tour) => new { Booking = booking, TourUser = tour }))
            {
                if (item.Booking.status == "Disapproved")
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Booking Code: @Html.DisplayFor(modelItem => item.Booking.bookCode)
                                        <span class="pull-right">@Html.DisplayFor(modelItem => item.TourUser.Tour.destination)</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Day)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Month)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Year)</span>
                                            ~
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Day)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Month)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Year)</span>
                                        </div>
                                        <div class="col-md-6">
                                            <form action="@Url.Action("DisapprovedTransfer","Transfer")" method="post">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.Booking.bookCode)" />
                                                <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form action="@Url.Action("CancelBooking","Booking")" method="post">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" class="bookingCode" name="bookingCode" value="@Html.DisplayFor(modelItem => item.Booking.bookCode)" />
                                                <div class="areYouSure">
                                                    <input type="submit" class="btn btn-warning btn-xs cancel-booking" value="Cancel booking" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>