@model WebTest.Controllers.BookingController.MultipleModel

@{
    ViewBag.Title = "Booking Detail";
    Layout = "~/Views/Shared/BookTemplate.cshtml";
}

<div class="container-fluid">
    @foreach (var item in Model.booking.Zip(Model.tour.Zip(Model.user, (tour, user) => new { Tour = tour, User = user }), (booking, tour) => new {Booking = booking, TourUser = tour}))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Booking Code: @Html.DisplayFor(modelItem => item.Booking.bookCode)
                            <span class="pull-right">@Html.DisplayFor(modelItem => item.TourUser.Tour.destination)</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="label label-danger">@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Day)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Month)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateFrom.Year)</span>
                                ~
                                <span class="label label-danger">@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Day)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Month)/@Html.DisplayFor(modelItem => item.TourUser.Tour.dateUntil.Year)</span>
                            </div>
                            <div class="col-md-6">
                                @if (item.Booking.paymentMethod == "Transfer")
                                {
                                    <form action="@Url.Action("DetailWithPayment","Booking")" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.Booking.bookCode)" />
                                        <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                    </form>
                                }
                                else {
                                    <form action="@Url.Action("PayPalDetail","PayPal")" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.Booking.bookCode)" />
                                        <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                    </form>
                                }
                                    
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                Payment Method: <b>@Html.DisplayFor(modelItem => item.Booking.paymentMethod)</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } 
</div>