
@*@model WebTest.Controllers.GaefaController.GaefaMultipleModel*@
@model WebTest.Controllers.GaefaController.GaefaMultipleModelNew

@{
    ViewBag.Title = "WebTest - Approve Transfer Payment";
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
}

@Html.Raw(TempData["Approved"])
<div class="container-fluid">
    @foreach (var item in Model.booking)
            {
                foreach (var package in Model.gaefaPackage)
                {
                    if (package.id == item.tourID)
                    {
                        if (item.status == "Waiting")
                        {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Booking Code: @Html.DisplayFor(modelItem => item.bookCode)
                                        <span class="pull-right">@Html.DisplayFor(modelItem => package.location)</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="label label-primary">@Html.DisplayFor(modelItem => package.startDate)</span>
                                            ~
                                            <span class="label label-primary">@Html.DisplayFor(modelItem => package.endDate)</span>
                                        </div>
                                        <div class="col-md-6">
                                            <form action="@Url.Action("DetailWithPayment", "Gaefa")" method="post">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.bookCode)" />
                                                <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>
