@model WebTest.Models.GaefaPackage

@{
    ViewBag.Title = "WebTest - Checkout";
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="minimumPackAlert">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="maximumPackAlert">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="couponMinAlert">

        </div>
    </div>
    <form method="post" role="form" id="checkoutForm" action="@Url.Action("Payment","Gaefa")">
        @Html.AntiForgeryToken()
        <input type="hidden" id="tourID" name="tourID" value="@Html.DisplayFor(model => model.id)"/>
        <div class="container-fluid">
            <h1 class="text-center">Payment</h1>
            <hr />
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Choose Payment Method
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="radio-inline">
                                                <input type="radio" name="payopt" data-target="#transferTab" checked value="Transfer" />Bank Transfer
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="payopt" data-target="#paypalTab" value="PayPal" />Paypal
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" alt="PayPal Logo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="tab-content">
                                    <div id="transferTab" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>BCA</p>
                                                <img src="http://placehold.it/100x75" />
                                                <p>Account Number: <b>xxxxxx</b></p>
                                                <p>On behalf of: <b>PT. xxxxxxxx</b></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>BNI</p>
                                                <img src="http://placehold.it/100x75" />
                                                <p>Account Number: <b>xxxxxx</b></p>
                                                <p>On behalf of: <b>PT. xxxxxxxx</b></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>Mandiri</p>
                                                <img src="http://placehold.it/100x75" />
                                                <p>Account Number: <b>xxxxxx</b></p>
                                                <p>On behalf of: <b>PT. xxxxxxxx</b></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="paypalTab" class="tab-pane">
                                        <div class="row">
                                            <div class="col-md-12" style="color:red">
                                                *Paypal charges additonal fee of US$ <b id="additionalFee"></b> for this package.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-inline col-md-6">
                                        <label for="tourDate">Tour Date: </label>
                                        <input id="tourDate" name="tourDate" class="form-control" value=""/>
                                        @if(Model.selectedDate != null)
                                        {
                                            foreach(var item in Model.selectedDate.dateList)
                                            {
                                                <input class="dateEnabled" type="hidden" value="@item.date"/>
                                                <input class="maxPassAllowed" type="hidden" value="@item.total_maximum_passenger" />
                                            }
                                        }
                                        @if(Model.rangedDate != null)
                                        {
                                            <input type="hidden" name="startDate" id="rangedStartDate" value="@Model.rangedDate.start_date" />
                                            <input type="hidden" name="isMonday" id="isMonday" value="@Model.rangedDate.is_monday.ToString()" />
                                            <input type="hidden" name="isTuesday" id="isTuesday" value="@Model.rangedDate.is_tuesday.ToString()" />
                                            <input type="hidden" name="isWednesday" id="isWednesday" value="@Model.rangedDate.is_wednesday.ToString()" />
                                            <input type="hidden" name="isThrusday" id="isThursday" value="@Model.rangedDate.is_thursday.ToString()" />
                                            <input type="hidden" name="isFriday" id="isFriday" value="@Model.rangedDate.is_friday.ToString()" />
                                            <input type="hidden" name="isSaturday" id="isSaturday" value="@Model.rangedDate.is_saturday.ToString()" />
                                            <input type="hidden" name="isSunday" id="isSunday" value="@Model.rangedDate.is_sunday.ToString()" />
                                            <input type="hidden" name="endDate" id="rangedEndDate" value="@Model.rangedDate.end_date" />
                                            <input type="hidden" name="minimumPack" id="rangedMinimumPack" value="@Model.rangedDate.minimum_pack" />
                                            <input type="hidden" name="maximumPack" id="rangedMaximumPack" value="@Model.rangedDate.maximum_pack" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">Person in Charge Detail</div>
                            </div>
                            <div class="panel-body">
                                <label for="picName">Name: </label>
                                <input type="text" class="form-control" name="picName" pattern="^[a-zA-Z]{3,}?([ ][a-zA-Z\.]{1,}[]{0,}){0,}?$" title="Minimum 3 letters for your first name. Only letters and space(s) are allowed. Space must be followed by non-space character(s)" value="" maxlength="25" placeholder="Full Name" required style="min-width:100%"/>
                                <br/>
                                <label for="picAddress">Address: </label>
                                <input type="text" class="form-control" maxlength="100" name="picAddress" value="" placeholder="Address" required style="min-width:100%"/>
                                <br/>
                                <label for="picTelephone">Telephone: </label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">+</span>
                                            <input type="number" min="0" maxlength="3" class="form-control" name="picTelCode" value="" placeholder="TelCode" required style="min-width:100%"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" min="0" maxlength="20" class="form-control" name="picTelephone" value="" placeholder="Telephone Number" required style="min-width:100%"/>
                                    </div>
                                </div>
                                <br/>
                                <label for="picEmail">Email: <span style="font-size:xx-small">(This email will be used to confirm booking and other important stuffs.)</span></label>
                                <input type="email" class="form-control" maxlength="50" name="picEmail" value="" placeholder="E-mail" required style="min-width:100%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    @Html.DisplayFor(model => model.name)
                                </div>
                            </div>
                            <div class="panel-body">
                                <p><b>Destination: @Html.DisplayFor(model => model.location)</b></p>
                                <p>
                                    <span id="showDateToGo" class="label label-danger"></span>
                                </p>
                                <p>
                                    @if (Model.includeHotel)
                                    {
                                        <span class="fa-stack" title="Include Inn">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="fa-stack" title="Not Include Inn">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                                            <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                        </span>
                                    }

                                    @if (Model.includeFlight)
                                    {
                                        <span class="fa-stack" title="Include Flight">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="fa-stack" title="Not Include Flight">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                                            <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                        </span>
                                    }
                                </p>
                                @if (Model.selectedDate != null)
                                {
                                    <p>Minimum pack: <b>1</b> pax</p>
                                    <p>Maximum pack: <b id="selectedMaximumPack">-</b> pax</p>
                                }
                                else
                                {
                                    <p>Minimum pack: <b>@Html.DisplayFor(model => model.rangedDate.minimum_pack)</b> pax</p>
                                    <p>Maximum pack: <b>@Html.DisplayFor(model => model.rangedDate.maximum_pack)</b> pax</p>
                                }

                                <hr />
                                <b><u>Duration: @Html.DisplayFor(model => model.duration) day(s)</u></b>
                                <a href="javascript:void(0)" id="showDayOnCheckout" class="pull-right" data-toggle="collapse" data-parent="false"><i class="fa fa-chevron-down"></i></a>
                                <br />
                                <div class="row panel-collapse collapse">
                                    <div class="col-md-12" style="word-wrap:break-word">
                                        @foreach (var days in Model.data.days)
                                        {
                                            <u><span>Day</span> @Html.DisplayFor(modelItem => days.dayNum)<span>:</span></u>
                                            <br />
                                            foreach (var events in days.events)
                                            {
                                                @:- (@Html.DisplayFor(modelItem => events.time))
                                                <br />
                                                if (Html.DisplayFor(modelItem => events.category).ToString() == "it-flight")
                                                {
                                                    <span class="fa-stack text-primary" title="Flight">
                                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                        <i class="fa fa-plane fa-stack-1x"></i>
                                                    </span>
                                                }
                                                else if (Html.DisplayFor(modelItem => events.category).ToString() == "it-food")
                                                {
                                                    <span class="fa-stack text-primary" title="Food">
                                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                        <i class="fa fa-cutlery fa-stack-1x"></i>
                                                    </span>
                                                }
                                                else if (Html.DisplayFor(modelItem => events.category).ToString() == "it-transport")
                                                {
                                                    <span class="fa-stack text-primary" title="Transport">
                                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                        <i class="fa fa-bus fa-stack-1x"></i>
                                                    </span>
                                                }
                                                else if (Html.DisplayFor(modelItem => events.category).ToString() == "it-inn")
                                                {
                                                    <span class="fa-stack text-primary" title="Hotel/Inn">
                                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                        <i class="fa fa-bed fa-stack-1x"></i>
                                                    </span>
                                                }
                                                else if (Html.DisplayFor(modelItem => events.category).ToString() == "it-place")
                                                {
                                                    <span class="fa-stack text-primary" title="Location">
                                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                        <i class="fa fa-street-view fa-stack-1x"></i>
                                                    </span>
                                                }
                                                @Html.DisplayFor(modelItem => events.title)
                                                <br />
                                                <b>@Html.DisplayFor(modelItem => events.description)</b>
                                                <br />
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>Total People: <b id="peopleCount">0</b></p>
                                        <input type="hidden" name="peopleCount" value="" />
                                    </div>
                                </div>
                                <div class="row form-horizontal">
                                    <div class="col-md-4 col-xs-4 col-sm-4">
                                        <label for="adult">Adult: </label>
                                        <input type="number" min="0" max="999" name="adult" class="form-control" value="" placeholder="0" style="max-width:100%"/>
                                        <input type="hidden" id="priceAdult" value="@Html.DisplayFor(model => model.priceAdult)" />
                                    </div>
                                    <div class="col-md-4 col-xs-4 col-sm-4 col-xs-pull-1">
                                        <label for="child">Child: </label>
                                        <input type="number" min="0" max="999" name="child" class="form-control" value="" placeholder="0" style="max-width:100%" />
                                        <input type="hidden" id="priceChild" value="@Html.DisplayFor(model => model.priceChild)" />
                                    </div>
                                    <div class="col-md-4 col-xs-4 col-sm-4 col-xs-pull-2">
                                        <label for="child">Child No Bed: </label>
                                        <input type="number" min="0" max="999" name="childNoBed" class="form-control" value="" placeholder="0" style="max-width:100%" />
                                        <input type="hidden" id="priceChildNoBed" value="@Html.DisplayFor(model => model.priceChildNoBed)" />
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="couponLogo"><span class="text-info"><i class="fa fa-ticket fa-spin"></i></span></span>
                                            <input type="text" class="form-control" name="couponDisc" value="" style="text-transform: uppercase" placeholder="Type your discount code here" />
                                            <span class="input-group-btn" id="dynamicCouponButton"><button id="addCoupon" class="btn btn-primary">Add Code</button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <b id="couponDetail"></b>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Ticket Price: <b>US$ <span id="ticketPrice">0.00</span></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-danger">
                                                Coupon Discount: - <b>US$ <span id="discPrice"></span></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                PayPal Additional Charge: <b>US$ <span id="taxPrice"></span></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                Total Price: <b>US$ <span id="totalPrice"></span></b>
                                                <input type="hidden" name="totalPrice" value="0.00" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div id="iconPayOpt"><i class='fa fa-credit-card' title="Pay by transfer"></i></div>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="submit" id="checkoutCart" class="btn btn-xs btn-success" value="Continue Checkout >>" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">Note (Optional)</div>
                            </div>
                            <div class="panel-body">
                                <textarea rows="10" name="note" form="checkoutForm" class="form-control" style="max-width:100%; min-width:100%" placeholder="Add your additional note here..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>