@*@model WebTest.Controllers.GaefaController.BookingAndTransfer*@
@model WebTest.Controllers.GaefaController.BookingAndTransferNew

@using System.Globalization

@{
    ViewBag.Title = "WebTest - Booking Detail";
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
    
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="approveAlert">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Payment Information
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <b>Date Paid:</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well well-sm">
                                                @Model.transfer.paymentDate.ToString("dd/MM/yyyy", DateTimeFormatInfo.InvariantInfo)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.booking.booking.status == "Paid")
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b>Date Approved:</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="well well-sm">
                                                    @Model.transfer.approveDate.GetValueOrDefault().ToString("dd/MM/yyyy - HH:mm:ss", DateTimeFormatInfo.InvariantInfo)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <b>Sender Name:</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well well-sm">
                                                @Html.DisplayFor(model => model.transfer.senderName)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <b>Amount Transferred:</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well well-sm">
                                                US$ @Html.DisplayFor(model => model.transfer.amountTransferred)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <b>Payment To:</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well well-sm">
                                                @Html.DisplayFor(model => model.transfer.bankName)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <b>Payment From:</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well well-sm">
                                                @Html.DisplayFor(model => model.transfer.accountNumber) - @Html.DisplayFor(model => model.transfer.fromBank)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Email:</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well well-sm">
                                    @Html.DisplayFor(model => model.transfer.email)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <b>Receipt:</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well well-sm">
                                                @if (Model.transfer.receipt != null)
                                                {
                                                    <img src="@Html.DisplayFor(model => model.transfer.receipt)" id="receipt" style="max-width: 100%" />
                                                }
                                                else
                                                {
                                                    @: No Receipt Uploaded.
                                        }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    @if(Model.booking.booking.status == "Paid")
                    {
                        if (Model.booking.booking.postedPassenger)
                        {
                        <form method="post" action="@Url.Action("UpdatePassengerDetails", "Gaefa")">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="bookingCode" value="@Html.DisplayFor(model => model.booking.booking.bookCode)" />
                            <a href="javascript:void(0)" onclick="this.parentNode.submit()">
                                <span class="fa-stack" title="Add Passengers' Details'">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-male fa-stack-1x"></i>
                                </span>Go to passengers' details
                            </a>
                        </form>
                        }
                        else
                        {
                            <form method="post" action="@Url.Action("SavePassengerDetails", "Gaefa")">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="bookingCode" value="@Html.DisplayFor(model => model.booking.booking.bookCode)" />
                                <a href="javascript:void(0)" onclick="this.parentNode.submit()">
                                    <span class="fa-stack" title="Add Passengers' Details'">
                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                        <i class="fa fa-male fa-stack-1x"></i>
                                    </span>Go to passengers' details
                                </a>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Tour package information
                                <span class="pull-right">Booking Code: @Html.DisplayFor(model => model.booking.booking.bookCode)</span>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">@ViewBag.DateToGo</span>
                                </div>
                            </div>

                            @*
                <div class="row">
                    <div class="col-md-6">
                        <span class="label label-primary">@Html.DisplayFor(model => model.booking.gaefaPackage.startDate)</span>
                        ~
                        <span class="label label-primary">@Html.DisplayFor(model => model.booking.gaefaPackage.endDate)</span>
                    </div>
                </div>
                            *@

                            <div class="row">
                                <div class="col-md-12" style="word-wrap:break-word">
                                    Title: <b>@Html.DisplayFor(model => model.booking.gaefaPackage.name)</b>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    Payment Method: <b>@Html.DisplayFor(model => model.booking.booking.paymentMethod)</b>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    Status: <b id="approveStatus">@Html.DisplayFor(model => model.booking.booking.status)</b>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    Destination: <b>@Html.DisplayFor(model => model.booking.gaefaPackage.location)</b>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @*
                        Passenger(s):
                        <ul>
                            @foreach (var item in Model.booking.passenger.Split(';'))
                            {
                                <li><b>@Html.DisplayFor(model => item)</b></li>
                            }
                        </ul>
                                    *@

                                    <p>Passengers: <b>@Html.DisplayFor(model => model.booking.booking.passengerAmount)</b> (<b>@Html.DisplayFor(model => model.booking.booking.adultCount)</b> Adult(s), <b>@Html.DisplayFor(model => model.booking.booking.childCount)</b> child, <b>@Html.DisplayFor(model => model.booking.booking.childNoBedCount)</b> child without bed)</p>

                                    @*
                        <p>Adult: </p>
                        @if (Model.booking.booking.adult != null)
                        {
                            <ul>
                                @foreach (var item in Model.booking.booking.adult.Split(';'))
                                {
                                    <li><b>@Html.DisplayFor(model => item)</b></li>
                                }
                            </ul>
                        }

                        <p>Child: </p>
                        @if (Model.booking.booking.child != null)
                        {
                            <ul>
                                @foreach (var item in Model.booking.booking.child.Split(';'))
                                {
                                    <li><b>@Html.DisplayFor(model => item)</b></li>
                                }
                            </ul>
                        }
                                    *@
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    Flights:
                                    @if (Model.booking.gaefaPackage.includeFlight)
                                    {
                                        <b>Included</b>
                                    }
                                    else
                                    {
                                        <b>Not Included</b>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    Inn:
                                    @if (Model.booking.gaefaPackage.includeHotel)
                                    {
                                        <b>Included</b>
                                    }
                                    else
                                    {
                                        <b>Not Included</b>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @if (ViewBag.DiscType == 0)
                                    {
                                        @:Coupon:
                                        if (ViewBag.DiscFlag == 0)
                                        {
                                            <b>@Html.DisplayFor(model => model.booking.booking.couponCode)</b> @:(@ViewBag.DiscAmount% discount)
                                        }
                                        else if (ViewBag.DiscFlag == 1)
                                        {
                                            <b>@Html.DisplayFor(model => model.booking.booking.couponCode)</b> @:(US$ @ViewBag.DiscPrice discount)
                                        }
                                        else
                                        {
                                            <b>-</b>
                                        }
                                    }
                                    else if (ViewBag.DiscType == 1)
                                    {
                                        @:Promo:
                                        if (ViewBag.DiscFlag == 0)
                                        {
                                            <b>@Html.DisplayFor(model => model.booking.booking.promoCode)</b> @:(@ViewBag.DiscAmount% discount)
                                        }
                                        else if (ViewBag.DiscFlag == 1)
                                        {
                                            <b>@Html.DisplayFor(model => model.booking.booking.promoCode)</b> @:(US$ @ViewBag.DiscPrice discount)
                                        }
                                        else
                                        {
                                            <b>-</b>
                                        }
                                    }
                                    else
                                    {
                                        @:Coupon / Promo: <b>-</b>
                                    }
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    @foreach (var days in Model.booking.gaefaPackage.data.days)
                                    {
                                        <u><span>Day</span> @Html.DisplayFor(modelItem => days.dayNum)<span>:</span></u>
                                        <br />
                                        foreach (var events in days.events)
                                        {
                                            @:- (@Html.DisplayFor(modelItem => events.time))
                                            <br />
                                            if (Html.DisplayFor(modelItem => events.category).ToString() == "it-flight")
                                            {
                                                <span class="fa-stack" title="Flight">
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-plane fa-stack-1x"></i>
                                                </span>
                                            }
                                            else if (Html.DisplayFor(modelItem => events.category).ToString() == "it-food")
                                            {
                                                <span class="fa-stack" title="Food">
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-cutlery fa-stack-1x"></i>
                                                </span>
                                            }
                                            else if (Html.DisplayFor(modelItem => events.category).ToString() == "it-transport")
                                            {
                                                <span class="fa-stack" title="Transport">
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-bus fa-stack-1x"></i>
                                                </span>
                                            }
                                            else if (Html.DisplayFor(modelItem => events.category).ToString() == "it-inn")
                                            {
                                                <span class="fa-stack" title="Hotel/Inn">
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-bed fa-stack-1x"></i>
                                                </span>
                                            }
                                            else if (Html.DisplayFor(modelItem => events.category).ToString() == "it-place")
                                            {
                                                <span class="fa-stack text-primary" title="Location">
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-street-view fa-stack-1x"></i>
                                                </span>
                                            }
                                            @Html.DisplayFor(modelItem => events.title)
                                            <br />
                                            <b>@Html.DisplayFor(modelItem => events.description)</b>
                                            <br />
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (ViewBag.DiscType == -1)
                                    {
                                        <p>Total Price: US$ <b id="priceTotal">@Html.DisplayFor(model => model.booking.booking.totalPrice)</b></p>
                                    }
                                    else
                                    {
                                        <p>Total Price: US$ <b id="priceTotal">@Html.DisplayFor(model => model.booking.booking.totalPrice)</b> (US$ @ViewBag.OriginalPrice - US$ @ViewBag.DiscPrice)</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">Person In Charge Information</div>
                        </div>
                        <div class="panel-body" style="word-wrap:break-word">
                            <p>Name: <b>@Html.DisplayFor(model => model.picInfo.name)</b></p>
                            <p>Address: <b>@Html.DisplayFor(model => model.picInfo.address)</b></p>
                            <p>Telephone: <b>@Html.DisplayFor(model => model.picInfo.telephone)</b></p>
                            <p>E-mail: <b>@Html.DisplayFor(model => model.picInfo.email)</b></p>
                        </div>
                    </div>
                </div>
            </div>
            @{
                if (Session[WebTest.Infrastructure.GlobalVar.SESSION_ID] != null && Model.booking.booking.status == "Waiting")
                {
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <form method="post" role="form">
                                @Html.AntiForgeryToken()
                                <div class="row approveChoice">
                                    <input type="hidden" class="bookingCode" value="@Model.booking.booking.bookCode" />
                                    <div class="col-md-6 col-xs-6">
                                        <input type="submit" class="btn btn-success form-control" name="approveButton" value="Approve" />
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <input type="submit" class="btn btn-danger form-control" name="disapproveButton" value="Disapprove" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


