@model WebTest.Controllers.GaefaController.GaefaMultipleModel

@{
    ViewBag.Title = "WebTest - Pending";
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#confirmationTab">Need to be confirmed <span class="badge">@ViewBag.NeedConfirm</span></a></li>
                <li><a href="#waitingTab">Waiting for approval <span class="badge">@ViewBag.WaitApproval</span></a></li>
                <li><a href="#disapprovedTab">Failed Transfer Confirmation <span class="badge">@ViewBag.Disapproved</span></a></li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="tab-content">
        <div id="confirmationTab" class="tab-pane fade in active">
            @foreach (var item in Model.booking)
            {
                foreach (var package in Model.gaefaPackage)
                {
                    if (package.id == item.tourID)
                    {
                        if (item.status == "Unpaid")
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Booking Code: @Html.DisplayFor(modelItem => item.bookCode)
                                                <span class="pull-right">@Html.DisplayFor(modelItem => package.location)</span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="label label-primary">@Html.DisplayFor(modelItem => package.startDate)</span>
                                                    ~
                                                    <span class="label label-primary">@Html.DisplayFor(modelItem => package.endDate)</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <form action="@Url.Action("DetailWithoutPayment", "Gaefa")" method="post">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.bookCode)" />
                                                        <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form method="post">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" class="bookingCode" name="bookingCode" value="@Html.DisplayFor(modelItem => item.bookCode)" />
                                                        <div class="areYouSure">
                                                            <input type="submit" class="btn btn-warning btn-xs cancel-booking" value="Cancel booking" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>

        <div id="waitingTab" class="tab-pane fade">
            @foreach (var item in Model.booking)
            {
                foreach (var package in Model.gaefaPackage)
                {
                    if (package.id == item.tourID)
                    {
                        if (item.status == "Waiting")
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Booking Code: @Html.DisplayFor(modelItem => item.bookCode)
                                                <span class="pull-right">@Html.DisplayFor(modelItem => package.location)</span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="label label-primary">@Html.DisplayFor(modelItem => package.startDate)</span>
                                                    ~
                                                    <span class="label label-primary">@Html.DisplayFor(modelItem => package.endDate)</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <form action="@Url.Action("DetailWithPayment", "Gaefa")" method="post">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.bookCode)" />
                                                        <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>

        <div id="disapprovedTab" class="tab-pane fade">
            @foreach (var item in Model.booking)
            {
                foreach (var package in Model.gaefaPackage)
                {
                    if (package.id == item.tourID)
                    {
                        if (item.status == "Disapproved")
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Booking Code: @Html.DisplayFor(modelItem => item.bookCode)
                                                <span class="pull-right">@Html.DisplayFor(modelItem => package.location)</span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="label label-primary">@Html.DisplayFor(modelItem => package.startDate)</span>
                                                    ~
                                                    <span class="label label-primary">@Html.DisplayFor(modelItem => package.endDate)</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <form action="@Url.Action("DisapprovedTransfer", "Gaefa")" method="post">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="bookingCode" value="@Html.DisplayFor(modelItem => item.bookCode)" />
                                                        <input type="submit" class="btn btn-primary pull-right" value="Show more detail" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form method="post">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" class="bookingCode" name="bookingCode" value="@Html.DisplayFor(modelItem => item.bookCode)" />
                                                        <div class="areYouSure">
                                                            <input type="submit" class="btn btn-warning btn-xs cancel-booking" value="Cancel booking" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>