@*@model IEnumerable<int>*@

@{
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
    ViewBag.Title = "Test - Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="alertCoupon">

        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1><i class="fa fa-ticket fa-2x"></i> Coupon Generator <a href="@Url.Action("CouponsList","Home")" class="btn btn-xs btn-primary">See all generated coupons</a></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Ticket Detail: </h3>
                    <hr/>
                    <label for="ticketList">Choose Ticket</label>
                    <select id="ticketList" name="ticketList" class="form-control" disabled required>
                        <option value="">Select ticket...</option>
                        @*
                        @foreach (var item in Model)
                        {
                            <option value="@Html.DisplayFor(model => item)">@Html.DisplayFor(model => item)</option>
                        }
                            *@
                    </select>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">Ticket Overview</div>
                        </div>
                        <div class="panel-body">
                            <p>Ticket Name: <b id="ticketName"></b></p>
                            <p>Start Date: <b id="startDate"></b></p>
                            <p>End Date: <b id="endDate"></b></p>
                            <p>Minimum Pack(s): <b id="minPack"></b></p>
                            <p>Price per pack: US$ <b id="pricePerPack"></b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Coupon property:</h3>
                    <hr/>
                    <form id="couponForm">
                        <label for="amountMin">Minimum package amount for discount: </label>
                        <div class="input-group">
                            <span class="input-group-addon"><input type="checkbox" name="enablePackDisc" value="true" /></span>
                            <input type="number" id="packDisc" min="1" class="form-control" value="" placeholder="1" required/>
                        </div>
                        <br />
                        <label for="priceMin">Minimum price for discount: </label>
                        <div class="input-group">
                            <span class="input-group-addon"><input type="checkbox" name="enablePriceDisc" value="true" /></span>
                            <span class="input-group-addon">US$</span>
                            <input type="number" id="priceDisc" pattern="\d+(\.\d{1,2})?$" step='0.01' min="0.01" class="form-control" value="" placeholder="1" required/>
                        </div>
                        <br />
                        <label for="ticketAmount">Amount of tickets to be generated: </label>
                        <input type="number" id="ticketAmount" class="form-control" min="1" placeholder="1" value="" required/>
                        <br />
                        <label for="discPercentage">Discount type: </label>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon"><input type="radio" name="discType" value="percentage" checked/></span>
                                    <input type="number" id="discPercentage" min="1" max="100" class="form-control" value="" required />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                or
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon"><input type="radio" name="discType" value="price" /></span>
                                    <span class="input-group-addon">US$</span>
                                    <input type="number" id="discPrice" min="0.00" step="0.01" class="form-control" value="" required />
                                </div>
                            </div>
                        </div>
                        <br />
                        <label for="availableDate">Available on: </label>
                        <input type="date" id="availableDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" value="" required />
                        <br/>
                        <label for="expiryDate">Expired on: </label>
                        <input type="date" id="expiryDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" value="" required/>
                        <br />
                        <button type="submit" id="generateCouponButton" class="btn btn-primary"><i class="fa fa-ticket fa-spin"></i> Generate Coupon</button>
                        <br/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
