@model WebTest.user_info

@{
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
    ViewBag.Title = "Test - Home";
}

@Html.Raw(TempData["changed"])

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <h4>Profile Information</h4>
                <hr/>
                <p><b>Full Name: </b>@Html.DisplayFor(modelItem => modelItem.fullname)<a href="@Url.Action("ChangeFullName","Home")" class="btn btn-primary btn-xs" style="margin-left: 3%">Change your Full Name</a></p>
                <p><b>Email Address: </b>@Html.DisplayFor(modelItem => modelItem.email)</p>
                <p><b>Password: </b><a href="@Url.Action("ChangePassword","Home")" class="btn btn-primary btn-xs" style="margin-left: 3%">Change Password</a></p>
            </div>
        </div>
    </div>
</div>
